:host {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .bill {
        height: 80%;
        @media screen and (max-height: 600px) {
            height: 65%;
        }
        width: 720px;
        @media screen and (max-width: 750px) {
            width: 90%;
        }
        background-color: rgb(255, 253, 205);
        .content {
            display: flex;
            flex: 1;
            h4 {
                margin: 0;
                padding-top: 8px;
            }
            p {
                margin: 0;
                padding-top: 8px;
            }
            .text {
                flex: 3;
                display: flex;
                flex-direction: column;
                .mobile-show {
                    @media screen and (min-width: 551px) {
                        display: none;
                    }
                }
            }
            .price {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .quantity {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .subtotal {
                flex: 1;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .mobile-hidden {
                @media screen and (max-width: 550px) {
                    display: none;
                }
            }
        }
    }
    .foolter {
        display: inline-block;
        text-align: center;
        margin-bottom: 10px;
        .btn {
            margin-top: 16px;
            text-align: center;
        }
    }
}