:host {
  display: flex;
  align-items: center;
  flex-direction: column;
  .header {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    button {
      margin-top: 16px;
      margin-right: 16px;
    }
  }
  .table-board {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
    .table-card {
      margin: 40px;
      max-width: 200px;
      img {
        width: 100%;
      }
      .detail {
        display: flex;
        h4 {
          flex: 2;
          text-transform: uppercase;
          i {
            color: red;
          }
        }
        h4.available {
          i {
            color: greenyellow;
          }
        }
        h5 {
          flex: 1;
          animation: neon 2s infinite;
        }
      }
    }
  }
}
@keyframes neon {
  0%   { color: blue }
  33%   { color: rgb(72, 255, 243) }
  100% { color: greenyellow }
}