<div class="header">
  <button class="btn" (click)="logout()">Logout</button>
</div>
<div class="table-board" *ngIf="tables.length">
  <div class="table-card" *ngFor="let table of tables" (click)="viewBill(table)">
    <img *ngIf="table.status === 'available'" src="assets/dinner-inactive.png" alt="" />
    <img *ngIf="table.status !== 'available'" src="assets/dinner-active.png" alt="" />
    <div class="detail">
      <h4 [ngClass]="{'available': table.status === 'available'}">
        <i class="fa fa-circle"></i> {{table.name}} </h4>
      <h5>{{table.newOrder}}</h5>
      <h5 *ngIf='table.support'>Need supporting</h5>
    </div>
  </div>
</div>
