@font-face {
    font-family: "Antre";
    src: url("../../assets/fonts/antre.otf?") format("otf");
}

:host {
    display: flex;
    height: 100vh;
    background-image: url("../../assets/welcome-bg.jpg");
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .pick-table {
        height: 100%;
        width: 28%;
        padding: 25px 15px;
        margin-left: 40px;
        background-color: rgba(0, 0, 0, 0.7);
        .contains {
            text-align: center;
            h1,
            h2,
            p {
                text-align: center;
                font-family: "Antre";
                color: white;
            }
            .divider {
                width: 80%;
                height: 1px;
                background-color: white;
                display: inline-block;
            }
            .form {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-self: center;
                margin-top: 80px;
                input {
                    color: #fff;
                    padding: 8px 16px;
                    margin: 0px 10px;
                    border: none;
                    border-bottom: 1px solid white;
                    font-size: 1em;
                    font-weight: 200;
                    background: none;
                    &:focus{
                        outline: none;
                    }
                }
                button {
                    padding: 8px 16px;
                    margin: 16px 10px;
                }
            }
        }
    }
}