<div class="header" *ngIf="order">
  <h3>Table: {{order.table.name}}</h3>
</div>

<div class="header" *ngIf="!order">
  <h3>Not order yet!</h3>
</div>

<div *ngIf="order" class="bill">
  <perfect-scrollbar style="flex: 1">
    <mat-list *ngIf="order">
      <mat-list-item>
        <div class="content">
          <div class="text">
            <h4 mat-line>Food</h4>
          </div>
          <div class="price">
            <p mat-line>Status</p>
          </div>
          <div class="quantity">
            <h4 mat-line>Quantity</h4>
          </div>
          <div class="subtotal">
            <h4 mat-line>Delivered</h4>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let item of order.foods">
        <div class="content">
          <div class="text">
            <img mat-line [src]="'http://localhost:6969/api/image/' + item.food.pictures[0]" alt="" style="width:78px;
              height:78px; padding-top: 8px; padding-right:5px">
            <h4 mat-line>{{item.food.name}}</h4>
            <p class='mobile-show' mat-line>Quantity: {{item.quantity}}</p>
            <p class='mobile-show' mat-line>Status: {{item.status}}</p>
            <p class='mobile-show' *ngIf='item.status === "done"'> ({{item.kitchen.name}})</p>
          </div>
          <div class="price">
            <p mat-line> {{item.status}}</p>
            <p *ngIf='item.status === "done"' mat-line> ({{item.kitchen.name}})</p>
          </div>
          <div class="quantity">
            <p mat-line> {{item.quantity}}</p>
          </div>
          <div class="subtotal">
            <mat-checkbox [disabled]='isDisable(item)' [checked]="item.status ==='delivered'" (change)="onCheck(item.food, item.uid , $event)"></mat-checkbox>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-list>
  </perfect-scrollbar>
</div>
<div class="foolter">
  <button style="margin-left: 8px;" class="btn btn-order" (click)="viewFoodMenu()">
    Food Menu
  </button>
  <button *ngIf='order !== null' style="margin-left: 8px;" class="btn btn-order" (click)="viewBill()">
    Bill
  </button>
  <button class="btn" style="margin-left: 8px;" [routerLink]="['/staff','tables']">Back To Tables</button>
</div>