<div class="bill">
  <perfect-scrollbar style="flex: 1">
    <mat-list *ngIf="order">
      <mat-list-item>
        <div class="content">
          <div class="text">
            <h4 mat-line>Food</h4>
          </div>
          <div class="price">
            <h4 mat-line>Price</h4>
          </div>
          <div class="quantity">
            <h4 mat-line>Quantity</h4>
          </div>
          <div class="subtotal">
            <h4 mat-line>Sub Total</h4>
          </div>
        </div>
      </mat-list-item>
      <mat-list-item *ngFor="let item of order.foods">
        <div class="content">
          <div class="text">
            <h4 mat-line>{{item.food.name}}</h4>
            <p mat-line> {{item.food.description}} </p>
          </div>
          <div class="price">
            <p mat-line> {{item.food.price}}</p>
          </div>
          <div class="quantity">
            <p mat-line> {{item.quantity}}</p>
          </div>
          <div class="subtotal">
            <p mat-line> {{item.food.price * item.quantity}}</p>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="content">
          <div class="text">
            <h4 mat-line>Total</h4>
          </div>
          <div class="price">
            <h4 mat-line></h4>
          </div>
          <div class="quantity">
            <h4 mat-line></h4>
          </div>
          <div class="subtotal">
            <h4 mat-line>{{total}}</h4>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
  </perfect-scrollbar>
</div>
<div class="foolter">
  <button class="btn btn-checkout" (click)='toggleModal(true)'>
    Check Out By Cash
  </button>
  <button class="btn btn-checkout" style="margin-left: 8px;" (click)="orderMore()">
    Online Check Out
  </button>
</div>
<div *ngIf='isShow' class="modal fade show in" role="dialog" id="cashConfirmModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Checkout confirm</h3>
        <p>Enter your password:</p>
        <input type="password" [(ngModel)]="password" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" (click)="confirmCheckout()" class="btn btn-default">Confirm</button>
        <button type="button" class="btn btn-default" (click)='toggleModal(false)'>Cancel</button>
      </div>
    </div>
  </div>
</div>