<div class="header" *ngIf="order">
  <h3>Table: {{order.table.name}}</h3>
</div>
<div class="bill">
  <perfect-scrollbar style="flex: 1">
    <div class='bill-header' style='text-align: center'>
      <b>
        <h2 mat-line>My Restaurent</h2>
        <p>1234 Trần Hưng Đạo P.1 Q.1, TP. HCM</p>
        <h3>INVOICE</h3>
        <br>
      </b>
    </div>
    <mat-list *ngIf="order">
      <mat-list-item>
        <p><b>DATE:</b> {{order.dateString}}</p>
      </mat-list-item>
      <mat-list-item>
        <div class="content">
          <div class="text">
            <b><h4 mat-line>Food</h4></b>
          </div>
          <div class="price mobile-hidden">
            <h4 mat-line>Price</h4>
          </div>
          <div class="quantity">
            <h4 mat-line>Qty</h4>
          </div>
          <div class="subtotal">
            <h4 mat-line>Sub Total</h4>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item *ngFor="let item of order.foods">
        <div class="content">
          <div class="text">
            <h4 mat-line>{{item.food.name}}</h4>
            <p mat-line class='mobile-show'>Price: {{item.food.price}}</p>
          </div>
          <div class="price mobile-hidden">
            <p mat-line> {{item.food.price}}</p>
          </div>
          <div class="quantity">
            <p mat-line> {{item.quantity}}</p>
          </div>
          <div class="subtotal">
            <p mat-line> {{item.food.price * item.quantity}}</p>
          </div>
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <div class="content">
          <div class="text">
            <h4 mat-line>Total</h4>
          </div>
          <div class="price">
            <h4 mat-line></h4>
          </div>
          <div class="quantity">
            <h4 mat-line></h4>
          </div>
          <div class="subtotal">
            <h4 mat-line>{{total}}</h4>
          </div>
        </div>
      </mat-list-item>
    </mat-list>
    <div class='bill-header' style='text-align: center'>
      <b>
        <br>
        <p>THANK YOU VERY MUCH!</p>
      </b>
    </div>
  </perfect-scrollbar>
</div>
<div class="foolter">
  <button *ngIf='order !== null' class="btn btn-checkout" (click)='toggleModal(true)'>
    Checkout By Cash
  </button>
  <button *ngIf='order !== null' style="margin-left:8px" class="btn btn-checkout" (click)='onlineCheckout()'>
    Online checkout
  </button>
  <button class="btn btn-checkout" style="margin-left:8px" (click)="back()">
    Back
  </button>
</div>
<div *ngIf='isShow' class="modal fade show in" role="dialog" id="cashConfirmModal" role="dialog">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Checkout confirm</h3>
        <p>Enter your password:</p>
        <input type="password" [(ngModel)]="password" placeholder="Password">
      </div>
      <div class="modal-footer">
        <button type="button" (click)="confirmCheckout()" class="btn btn-default">Confirm</button>
        <button type="button" class="btn btn-default" (click)='toggleModal(false)'>Cancel</button>
      </div>
    </div>
  </div>
</div>